body {
    background-color: var(--branco);
    color: var(--preto);
}

.container-cadastro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

/* ESTILIZAÇÃO LADO ESQUERDO */
.lado-esquerdo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6% 18%;
}

.topo {
    text-align: center;
}

.titulo {
    font-size: 3rem;
    font-weight: 750;
}

.subtitulo {
    font-family: "Geometrica Sans";
    font-size: 1.9rem;
    font-weight: 200;
    margin-top: 2%;
}

.fazerCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forms-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

label {
    font-size: 1.15rem;
    font-weight: 400;
    align-self: flex-start;
    margin-top: 2%;
}

input {
    padding: 14px;
    border: 1px solid var(--preto);
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 250;
    width: 100%;
    margin-top: 1.4%;
}

input[type="checkbox"] {
    accent-color: var(--preto);
}

.halfInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.halfInputBox {
    width: 100%;
    flex-direction: column;
    margin-top: 2%;
}

.halfInput input {
    width: 100%;
}

.campo-senha {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.iconeOlho {
    display: block;
    position: absolute;
    right: 5%;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 22px;
}

.iconeOlhoSlash {
    display: none;
    position: absolute;
    right: 5%;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
}

.iconeOlhoConfirm {
    display: block;
    position: absolute;
    right: 5%;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 22px;
}

.iconeOlhoSlashConfirm {
    display: none;
    position: absolute;
    right: 5%;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
}

.botao-registrar {
    background-color: var(--vermelho-escuro);
    border: none;
    color: var(--branco);
    width: 90%;
    padding: 2.8%;
    font-weight: 750;
    border-radius: 10px;
    margin-top: 6%;
    font-size: 1.1rem;

}

.botao-registrar:hover {
    background-color: #781010;
    cursor: pointer;
}

.possui-conta {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 2.5%;
}

.possui-conta a {
    color: var(--vermelho-escuro);
    font-weight: 650;
    text-decoration: none;
}

.possui-conta a:hover {
    text-decoration: underline;
}

.botoes-sociais {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    /* Organizar em linha horizontal */
    gap: 12%;
    width: 25%;
}

.google {
    transition: transform 0.15s ease;
}

.google:hover {
    transform: translateY(-5px);
}

.facebook {
    transition: transform 0.15s ease;
}

.facebook:hover {
    transform: translateY(-5px);
}


/* ESTILIZAÇÃO LADO DIREITO */

.lado-direito {
    background-image: url(/assets/Cadastro-images/images/cinema.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.efeito {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.186);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
}


.container-logo {
    background-color: var(--cinza-escuro);
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5%;
}

.logo {
    width: 90%;
}

/* RESPONSIVIDADE */
@media (max-width: 1135px) {
    input::placeholder {
        font-size: 0.95rem;
    }
}

@media (max-width: 1075px) {
    .titulo {
        font-size: 2.8rem;
    }

    input::placeholder {
        font-size: 1rem;
    }

    .halfInput {
        flex-direction: column;
    }

    .botoes-sociais {
        width: 30%;
    }
    .possui-conta {
        font-size: 0.85rem;
    }
}

@media(max-width: 935px) {
    header {
        width: 80%;
    }

    .titulo {
        text-align: center;
        font-size: 2.7rem;
    }

    .subtitulo{
        font-size: 1.7rem;
    }
}

@media(max-width: 890px) {
    .possui-conta {
        font-size: 0.85rem;
    }
}

/* MOBILE */
@media(max-width: 770px) {
    .container-cadastro {
        grid-template-columns: 1fr;
        height: auto;
    }

    .lado-direito {
        display: none;
    }

    .lado-esquerdo {
        margin: 0;
        height: auto;
        background-image: url(/assets/Cadastro-images/images/cinema.webp);
    }

    .efeitoMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.186);
        backdrop-filter: blur(10px);
        height: 100%;
        width: 100%;
    }

    .fazerCadastro {
        background-color: var(--branco);
        margin: 10%;
        padding: 5%;
        border-radius: 20px;
        width: 70%;
    }

    .halfInput {
        flex-direction: row;
    }

    .titulo {
        font-size: 2.19rem;
        text-align: center;
    }

    input::placeholder {
        font-size: 1rem;
    }

    .possui-conta {
        font-size: 0.98rem;
    }
}

@media(max-width: 670px) {
    .titulo {
        font-size: 2.5rem;
    }

    .subtitulo{
        font-size: 1.6rem;
    }

    header {
        width: 95%;
    }

    .possui-conta {
        font-size: 0.90rem;
    }
}

@media (max-width: 575px) {
    .halfInput {
        flex-direction: column;
    }

    input::placeholder {
        font-size: 1rem;
    }

    .possui-conta {
        font-size: 0.80rem;
    }

    /* IMPROVISO */
    .container-cadastro {
       height: auto; 
    }
}