@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "Geometrica Sans";
    src: url(../fonts/GeometricaSans-Regular.ttf);
}

:root{
    --retangulo: #1D1D1B;
    --vermelho: #AC1919;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter";
}



html {
    scroll-behavior: smooth;
}